@import "../../../styles/responsive.scss";

.bidData {
  .bidData_header {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .date-picker-container {
      position: relative;

      .date-pic {
        display: flex;

        .datePicker {
          padding: 8px 3px;
          width: 6.2rem;
          font-size: 0.75rem;
          font-weight: 600;
          color: rgb(80, 76, 76);
          border: 1px solid rgb(169, 160, 160);
          border-radius: 3px;
          outline: none;
        }

        .calendar {
          position: absolute;
          left: 5rem;
          top: 0.4rem;
          z-index: 1;
          color: black;
          cursor: pointer;
        }
      }
    }
  }

  .bidDataList {
    background: #fff;
    ul {
      padding: 0;
      list-style: none;

      .header_li {
        background: #000;
      }

      li {
        text-decoration: none;
        border-bottom: 1px solid black;
        text-align: center;

        .header,
        .bidDataDetails {
          display: flex;
          align-items: center;
          justify-content: space-around;
          color: black;

          p {
            flex: 1;
            padding: 1rem 0;
          }
        }

        .header {
          font-size: 1rem;
          font-weight: 600;
          color: white;
        }

        .bidDataDetails {
          .gameName {
            @include sm {
              font-size: 0.875rem;
            }
          }
          .openTotal {
            background: rgb(242, 203, 209);
            cursor: pointer;
          }
          .closeTotal {
            cursor: pointer;
          }
        }
      }
    }
  }
}
