@import "../../../styles/responsive.scss";

.bid_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  h2 {
    @include sm {
      font-size: 1.2rem;
    }
    @include xsm {
      font-size: 1rem;
    }
    span {
      font-size: 0.8rem;
      font-weight: 500;

      @include xsm {
        font-size: 0.7rem;
      }
    }
  }
  h4 {
    @include sm {
      font-size: 1rem;
    }
    @include xsm {
      font-size: 0.8rem;
    }
  }
}

.back_button {
  background: black !important;
  padding: 5px 10px !important;
  border-radius: 5px;
  color: white;
  border: none;
  outline: none;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: all 0.3s;

  &:hover {
    background: #fff !important;
    color: black !important;
  }
}
