@import "../../../styles/variables.scss";
@import "../../../styles/responsive.scss";

.depositContainer {
  display: none;
  // width: 100%;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  // //   gap: 10px;
  // margin-bottom: 1rem;
  // border: 1px solid $dark-color;
  // background-color: aliceblue;
  // color: black;
  // padding: 10px;
  // border-radius: 10px;
  // height: 7rem;
  // gap: 5px;

  .pointsAdded_side {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

    .pointsAdded {
      color: black;
      font-size: 16px;
      font-weight: 600;
      color: #00ff00;
    }
  }

  .divider {
    height: 7rem;
    width: 2px;
    background-color: black;
  }

  .details_side {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 4px;

    .details_item {
      color: rgb(137, 129, 129);

      .item_value {
        font-weight: 600;
        color: black;
      }
    }
  }
}

.centered-cell {
  text-align: center !important;
}

.dataTable_deposit {
  .dataGrid_deposit {
    background-color: white;
    padding: 15px;

    @include md {
      padding: 10px;
    }

    .MuiDataGrid-cell {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    // .MuiDataGrid-cell--withRenderer {
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    // }
  }

  .MuiDataGrid-columnHeaderDraggableContainer {
    background-color: rgb(250, 169, 18);
    height: 2.5rem !important;
    border-radius: 3px;

    text-align: center;
    // padding-left: 12px;

    .MuiDataGrid-columnHeaderTitleContainer {
      display: flex;
      align-items: center;
      justify-content: center;

      .MuiDataGrid-columnHeaderTitle {
        font-weight: 600;
      }

      .MuiDataGrid-iconButtonContainer {
        display: none;
      }
    }

    .MuiDataGrid-menuIcon {
      display: none;
    }
  }

  .MuiDataGrid-toolbarContainer {
    flex-direction: row-reverse;
  }

  .MuiFormControl-root {
    display: none;
  }
}

.add_points {
  color: rgb(18, 191, 133);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.points {
  display: flex;
  align-items: center;
  gap: 3px;
}
