@import "../../../styles/responsive.scss";

.dataTable_bid {
  .dataGrid_bid {
    background-color: white;
    padding: 15px;

    @include md {
      padding: 10px;
    }

    .MuiDataGrid-cell {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    // .MuiDataGrid-cell--withRenderer {
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;
    // }
  }

  .MuiDataGrid-columnHeaderDraggableContainer {
    background-color: rgb(250, 169, 18);
    height: 2.5rem !important;
    border-radius: 3px;

    text-align: center;
    // padding-left: 12px;

    .MuiDataGrid-columnHeaderTitleContainer {
      display: flex;
      align-items: center;
      justify-content: center;

      .MuiDataGrid-columnHeaderTitle {
        font-weight: 600;
      }

      .MuiDataGrid-iconButtonContainer {
        display: none;
      }
    }

    .MuiDataGrid-menuIcon {
      display: none;
    }
  }

  .MuiDataGrid-toolbarContainer {
    flex-direction: row-reverse;
  }

  .MuiFormControl-root {
    display: none;
  }
}

.add_points {
  color: rgb(18, 191, 133);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.points {
  display: flex;
  align-items: center;
  gap: 3px;
}
