@import "../../../styles/responsive.scss";

.paymentSetting {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
  grid-auto-flow: dense;
  gap: 10px;

  @include md {
    grid-template-columns: repeat(2, 1fr);
  }

  .first_main_container {
    grid-column: span 2;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    // grid-auto-rows: minmax(50px, auto);
    // grid-auto-flow: dense;
    gap: 10px;

    // @include md {
    // }

    .first_container {
      grid-row: span 2;
      grid-column: span 1;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      background: #fff;
      color: black;
      padding: 30px;
      border-radius: 5px;

      @include md {
        grid-column: span 2;
      }

      @include xsm {
        padding: 20px;
      }

      .general_setting_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        h4 {
          font-size: 0.9rem;
          color: gray;
        }

        .edit_icon {
          font-size: medium;
          cursor: pointer;
        }
      }

      .whatsapp_num {
        display: flex;
        align-items: center;
        background: rgb(225, 213, 213);
        border-radius: 5px;
        gap: 1rem;
        font-size: 0.875rem;

        span {
          background: #000;
          color: #fff;
          font-size: 0.875rem;
          padding: 8px 12px;
          border-radius: 5px;
          width: 120px;
          text-align: center;

          @include xsm {
            width: 80px;
            font-size: 0.8rem;
          }
        }
      }
    }

    .second_container {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      background: #fff;
      color: black;
      padding: 30px;
      border-radius: 5px;

      @include md {
        grid-column: span 2;
      }
      @include xsm {
        padding: 20px;
      }

      h4 {
        font-size: 0.9rem;
        color: gray;
        margin-bottom: 0.5rem;
      }

      .payment_setting {
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
          color: gray;
          font-size: 0.875rem;
        }
      }
    }

    .third_container {
      grid-column: span 1;
      grid-row: span 1;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      background: #fff;
      color: black;
      padding: 30px;
      border-radius: 5px;

      @include md {
        grid-column: span 2;
      }
      @include xsm {
        padding: 20px;
      }

      .default_upi {
        margin-bottom: 0.5rem;
        h4 {
          font-size: 0.9rem;
          color: gray;
        }

        .default_upi_id {
          margin-top: 0.5rem;
          background: rgb(225, 213, 213);
          padding: 8px;
          border-radius: 5px;
          font-size: 0.875rem;
        }
      }

      .payment_setting {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .payment_setting_header {
          display: flex;
          justify-content: space-between;
          align-items: center;

          h4 {
            font-size: 0.9rem;
            color: gray;
          }

          .edit_icon {
            font-size: medium;
            cursor: pointer;
          }
        }

        .min_amount {
          display: flex;
          justify-content: space-around;
          align-items: center;

          .min_deposit,
          .min_withdraw {
            text-align: center;
            margin-top: 0.5rem;

            p {
              color: gray;
              font-size: 0.8rem;
            }
            span {
              font-weight: 600;
            }
          }
        }
      }
    }
  }

  .fourth_container {
    grid-column: span 2;
    // grid-row: span 3;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: #fff;
    color: black;
    padding: 30px;
    border-radius: 5px;

    @include xsm {
      padding: 20px;
    }

    .upi_ids_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      h4 {
        font-size: 0.9rem;
        color: gray;
      }

      button {
        border: none;
        outline: none;
        padding: 8px;
        border-radius: 3px;
        background: #000;
        color: #fff;
        font-size: 0.7rem;
        cursor: pointer;
      }
    }

    .upi_id {
      position: relative;
      font-size: 0.875rem;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 1rem;

      @include sm {
        font-size: 0.8rem;
      }

      @include xsm {
        font-size: 0.7rem;
      }

      button {
        border: none;
        outline: none;
        padding: 5px 8px;
        border-radius: 3px;
        background: rgb(50, 181, 50);
        color: #fff;
        font-size: 0.7rem;
        font-weight: 600;
        cursor: pointer;
        position: absolute;
        right: 1rem;
        top: 6px;

        @include sm {
          right: 0.2rem;
        }

        @include xsm {
          font-size: 0.5rem;
        }
      }
    }
  }
}
