.status_option_container {
  h4 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .status_options {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    // font-weight: 600;
    font-size: 0.875rem;

    .accept_button {
      background: rgb(5, 189, 5);
      color: white;
      padding: 10px 20px;
      border-radius: 3px;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background: #000;
      }
    }

    .reject_button {
      background: rgb(223, 7, 7);
      color: white;
      padding: 10px 20px;
      border-radius: 3px;
      cursor: pointer;
      transition: all 0.3s;

      &:hover {
        background: #000;
      }
    }
  }
}

.pending_click {
  cursor: pointer;
}
