@import "../../styles/responsive.scss";

.gameRateGrid {
  width: 42vw !important;

  @include lg {
    width: 60vw !important;
  }
  @include md {
    width: auto !important;
  }
}

.gameRate_details {
  h1 {
    margin-bottom: 1rem;
  }
}
