@import "../../styles/responsive.scss";

.dataTable {
  .dataGrid {
    background-color: white;
    padding: 20px;

    @include md {
      padding: 10px;
    }

    .MuiDataGrid-cell {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .phone-column {
      justify-content: flex-start !important;
      padding-left: 1rem;
    }
  }

  .MuiDataGrid-columnHeaderDraggableContainer {
    background-color: rgb(250, 169, 18);
    border: 2px solid rgb(220, 212, 212);
    text-align: center;
    .MuiDataGrid-columnHeaderTitleContainer {
      display: flex;
      align-items: center;
      justify-content: center;

      .MuiDataGrid-columnHeaderTitle {
        font-weight: 600;
      }

      .MuiDataGrid-iconButtonContainer {
        display: none;
      }
    }

    .MuiDataGrid-menuIcon {
      display: none;
    }
  }

  .MuiDataGrid-toolbarContainer {
    flex-direction: row-reverse;

    @include sm {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  // @include sm {
  //   .MuiDataGrid-footerContainer {
  //     flex-direction: row-reverse;
  //   }
  // }

  .MuiInputBase-input {
    @include sm {
      font-size: 1rem;
    }
  }

  .actions_icons {
    display: flex;
    align-items: center;
    gap: 2rem;

    &:focus {
      outline: none;
    }
  }
}

.addPointsImage,
.withdrawPointsImage {
  height: 30px;
  width: 30px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.user_name {
  text-transform: capitalize;
}
